html::before
  content: 'CodePen ♥ The Web'
  position: fixed
  inset: 0
  z-index: -1
  margin: auto
  width: fit-content
  height: fit-content
  font-family: monospace
  opacity: 0.6
  background: rebeccapurple
  color: white
  padding: 4px 8px
  border-radius: 4px

html
  height: 100%
  width: 100%

body
  height: calc(100% - 16px)
  width: calc(100% - 16px)
  margin: 8px

#shell
  height: 100%
  width: 100%

  & button#lever
    font-size: 13px
    max-height: 24px
    width: fit-content

footer
  display: none

#toaster
  display: flex
  height: 90%
  width: 250px
  position: fixed
  inset: unset
  right: 18px
  bottom: 5%
  border-width: 0
  border-radius: 4.5%
  z-index: 2
  background: transparent
  opacity: 0
  visibility: hidden
  pointer-events: none
  flex-flow: column-reverse nowrap
  gap: 18px 0
  align-items: center
  transition: opacity 0.5s, visibility 0.5s ease-out allow-discrete

  &::before
    padding: 1.5px 12px 0
    background-color: rgba(222, 200, 20, 0.75)
    border-width: 0
    border-radius: 18px
    content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiMzMzMiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1tZWdhcGhvbmUtaWNvbiBsdWNpZGUtbWVnYXBob25lIj48cGF0aCBkPSJNMTEgNmExMyAxMyAwIDAgMCA4LjQtMi44QTEgMSAwIDAgMSAyMSA0djEyYTEgMSAwIDAgMS0xLjYuOEExMyAxMyAwIDAgMCAxMSAxNEg1YTIgMiAwIDAgMS0yLTJWOGEyIDIgMCAwIDEgMi0yeiIvPjxwYXRoIGQ9Ik02IDE0YTEyIDEyIDAgMCAwIDIuNCA3LjIgMiAyIDAgMCAwIDMuMi0yLjRBOCA4IDAgMCAxIDEwIDE0Ii8+PHBhdGggZD0iTTggNnY4Ii8+PC9zdmc+")

  &:popover-open
    visibility: visible
    opacity: 1

    & .toast
      opacity: 1

  & .toast
    width: 75%
    max-height: 30%
    pointer-events: auto
    border-radius: 4.5%
    border-width: 0
    background: rgba(205, 205, 205, 0.5)

    &:nth-child(2)
      outline-width: 2px
      outline-style: dashed
      outline-color: red
    &:nth-child(3)
      outline-width: 2px
      outline-style: dashed
      outline-color: green

    & button.close
      cursor: pointer

    & p
      text-align: center

@starting-style
  #toaster
    visibility: hidden
    opacity: 0
